<!DOCTYPE html>

<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel = "icon" href = "{{url_for('static', filename = 'img/sword.ico')}}">

  <title>Hunter Dados</title>

  <!-- Font Awesome Icons -->
  <link rel = "stylesheet" type="text/css" href = "{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'vendor/magnific-popup/magnific-popup.css')}}">

  <!-- Theme CSS - Includes Bootstrap -->
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/creative.min.css')}}">
  
   <link rel = "stylesheet" type="text/css" href = "{{url_for('static', filename = 'media/css/jquery.dataTables.css')}}">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.1/css/colReorder.dataTables.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">-->
  
  <!-- JQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
  
  <!--Classe bootstrap para section about
   class="page-section bg-primary"-->
  
</head>

<body id="page-top" class = "ex_highlight_row">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" id = "btn-top">Hunter Dados</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about" id = "desviar">Aplicação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Orientações</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Extração de Dados Web Automatizada</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5" style = "font-size: 25px">Uma Ferramenta para coleta e cadastro de dados de atividades acadêmicas de forma veloz e automática</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" id = "experimente">Experimente!</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
		  <div id = "confirmacaoConteudo">
			<p class="text-white mt-0" style = "font-size: 30px;">Dados Extraídos e Armazenados com Sucesso!</p>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/sonic.png')}}" id = "sonic" alt = "Sonic Confirma">
			<p class="text-white mt-0" style = "font-size: 30px;">Clique na imagem para retornar ao início.</p>
		  </div>
		   <div id = "cancelarConteudo">
			<p class="text-white mt-0" style = "font-size: 30px;">Desculpe, infelizmente o conteúdo não pôde ser extraído corretamente da página informada!</p>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/silver.png')}}" id = "silver" alt = "Silver Cancela">
			<p class="text-white mt-0" style = "font-size: 30px;">Clique na imagem para retornar ao início.</p>
		  </div>
          <h2 class="text-white mt-0" id = "descobrir">Todo cadastro de informações é feito rapidamente!</h2>
          <hr class="divider light my-4">
          <p class="text-white mt-0" id = "descricao1">Você informa alguns poucos dados das atividades de seu evento, então estes são extraídos automaticamente e cada atividade é registrada em nossa base de dados.</p>
		  <form class="form-signin" action="/envlink" method="post" role="form" id = "form-link" onkeydown="EnterKeyLink(event, event.keyCode);" >
			
             <h3 class="form-signin-heading" id ="informeum">Informe abaixo o Link da página contendo a lista dos registros das atividades do evento:</h3>
			 </br>
             <input type="text" name="info-link" class="form-control" id="info-link" placeholder="Link Aqui" required autofocus > 
			 </br>
             <button class="btn btn-lg btn-primary btn-block" type="button" id = "enviarlink">Enviar </button>
         </form>
		 </br>
		 <form class="form-signin" action="/envdados" method="post" role="form" id = "form-dados" onkeydown="EnterKeyTitle(event, event.keyCode);" >
             <h3 class="form-signin-heading" id ="informedois">Informe o título da primeira atividade listada na página:</h3>
			 </br>
             <input type="text" name="info-titulo" class="form-control" id="info-titulo" placeholder="Título da Atividade" required autofocus>
			 </br>
             <button class="btn btn-lg btn-primary btn-block" type="button" id = "enviardados">Enviar </button>
			 <button class="btn btn-light btn-xl js-scroll-trigger" id = "trocarlink">Trocar Link</button>
         </form>
		  <button class="btn btn-light btn-xl js-scroll-trigger" id = "iniciar">Iniciar Extração</button>
		  <a href="#contact"><button class="btn btn-lg btn-primary btn-block" type="button" id = "dicas">DICAS!</button></a>
		  
		  <h3 class="form-signin-heading" id = "instrucao-dados">Para cada informação, marque no checkbox, o que a mesmo representa em relação ao título da atividade informada:</h3>
		  </br>
		  <p id = "campos-evento"> </p>
		  
		  <a href="#about"><button class="btn btn-lg btn-primary btn-block" type="button" id = "enviarconteudo">Enviar </button></a>
		  <a href="#about"><button class="btn btn-light btn-xl js-scroll-trigger" id = "trocarTitulo">Trocar Título</button></a>
		   
		   <div id = "div-tabela">
			   <a href = "#ocultar-mostrar"><h2 class="text-white mt-0" id = "tituloTabela">Tabela de Resultados</h2></a>
			   </br>
			   <p class="text-white mt-0" id = "tabela-texto" style = "font-size: 20px"></p>
			   </br>
              <div class = "texto-ocultar">
			      <p id = "ocultar-mostrar">Ocultar/Mostrar Coluna:</p> 
			      <p id = "linkTabela"><a class="toggle-vis" data-column="0">Título - </a>
			      <a class="toggle-vis" data-column="1">Data - </a>
			      <a class="toggle-vis" data-column="2">Hora de Início - </a>
			      <a class="toggle-vis" data-column="3">Hora de Finalização - </a>
			      <a class="toggle-vis" data-column="4">Responsável(is) - </a>
			      <a class="toggle-vis" data-column="5">Descrição - </a>
			      <a class="toggle-vis" data-column="6">Local</a></p>
              </div>
			  </br></br>
			   <table id="tabela-atividades" class="display" style="width:100%" cellspacing="0" cellpadding = "0" border = "1px">
					<thead id = "cabecalhoTabela">
						<tr>
							<th>Título</th>
							<th>Data</th>
							<th>Hora de Início</th>
							<th>Hora de Finalização</th>
							<th>Responsável(is)</th>
							<th>Descrição</th>
							<th>Local</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				 </table>
				 </br>
				 <a><button class="btn btn-lg btn-primary btn-block" type="button" id = "confirmarExtracao">Confirmar </button></a>
				 <a><button class="btn btn-lg btn-primary btn-block" type="button" id = "cancelarExtracao">Cancelar </button></a>
				 <a><button class="btn btn-light btn-xl js-scroll-trigger" id = "classificarNovamente">Classificar Novamente</button></a>
			 </div>
		 
        </div>
		
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Por que utilizar a ferramenta?</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-facil text-primary mb-4"></i>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/internet.jpg')}}" id = "facil">
            <h3 class="h4 mb-2">Facilidade</h3>
            <p class="text-muted mb-0">Basta alguns cliques e seleções de informações para que a ferramenta faça seu trabalho!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-portatil text-primary mb-4"></i>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/portatil.jpg')}}" id = "portatil">
            <h3 class="h4 mb-2">Portabilidade</h3>
            <p class="text-muted mb-0">Se a página contendo os dados muda, a ferramenta é capaz de operar normalmente para extração.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-mineracao text-primary mb-4"></i>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/tails.png')}}" id = "pratico">
            <h3 class="h4 mb-2">Praticidade</h3>
            <p class="text-muted mb-0">Todo cadastro de informações que seria feito manualmente e de forma demorada, agora é ágil e automático.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-desempenho text-primary mb-4"></i>
			<img class="img-fluid" src="{{url_for('static', filename = 'img/sonicrun.png')}}" id = "desempenho">
            <h3 class="h4 mb-2">Eficiência</h3>
            <p class="text-muted mb-0">Ótimo desempenho mesmo para páginas com muitos dados!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    
  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Sobre a Aplicação</h2>
          <hr class="divider my-4">
		  <h3>Enviando as Informações</h3>
        </div> 
		<p class = "instrucao" id = "passo1">Ao clicar em "Iniciar Extração" será solicitado que informe um Link. Este deve ser referente à página que contém todos os dados das atividades a serem  extraídass pela aplicação.
		  </br></br>Ao informá-lo, será verificado se o mesmo é válido e pode ser acessado. Caso seja uma página que não se encontra mais ativa no Link informado, ou necessite de alguma permissão maior para seu acesso, então  a aplicação não poderá analisá-la.
		  </br></br>Caso contrário, será exibida uma mensagem informando o sucesso e serão solicitadas mais algumas informações desta página.
		  </br></br>Se as atividades estiverem distribuídas entre várias páginas, então cada uma destas páginas deverá ser analisada separadamente, sendo informado o Link de cada página após encerrada a análise da página anterior.
		  </br></br>Após isto, será solicitado que informe o Título de uma atividade contida na página que foi informada. Recomenda-se que seja passado o título da primeira atividade exibida na página e que esteja completo, exatamente como está escrito na página(Copiar e Colar). 
		  </br></br>Caso seja informado um título não contido naquela página, então será detectado o problema. Já se for informado apenas uma palavra ou qualquer outro texto da página que não seja um título, o mesmo será encontrado e será passado para a próxima etapa, porém, isso fará com que sejam extraídas informações incorretas nas próximas etapas.
		  </br></br>Dado isto, informe o título corretamente e então a aplicação seguirá também corretamente para a próxima etapa.
		  </br></br>É possível também escolher a opção "Trocar Link", para que retorne à etapa anterior e informe o Link dde outra página, caso tenha informado um por engano ou queira mudar a página a ser analisada
		</p>
		<div class="col-lg-8 text-center">
          <hr class="divider my-4">
		  <h3>Classificando os Dados</h3>
        </div>
		<p class = "instrucao" id = "passo2">
			 Nesta etapa, serão exibidos alguns quadros contendo informações extraídas, com alguns personagens ilustrativos acima destes (O significado destes fica para os Fãs!).
			 </br></br>Cada quadro possui, em seu início, uma informação referente à atividade que possui o título informado, como sua data de acontecimento, local de realização, pessoas responsáveis ou atores, etc. 
			 </br></br>Abaixo de cada informação há a palavra "Significado", seguida de algumas opções para serem marcadas. Deve-se marcar aquela que indica o que a informação exibida representa.
			 </br></br>Cada opção é bem sugestiva, se referindo a características padrão de uma atividade acdêmica, como data, hora e local de realização e seus responsáveis. Há também uma opção "Desconsiderar este item", que serve para uma informação que não pertence à atividade informaada (Extraída por engano) ou que é irrelevante, podendo ser descartada pela aplicação.
			 </br></br>Deve-se informar o que a informação d ecada quadro significa. Caso não queira que uma certa informação faça parte da análise, basta marcar para ser desconsiderada. Se houver uma informação mais específica a qual não se encaixe nas opções e não queira descartar, pode classificar como "Descrição". 
			 </br></br>Ao clicar en "Enviar", será dado  início à extração daa informações de todas as atividades contidas na página, com base na classificação feita nesta etapa. Basta aguardar até  que seja exibido o resultado. Se alguma informação de um quadro não tiver nenhuma opção informada, então lhe será avisado. Basta informar as que faltam e enviar novamente.
			 </br></br>Assim como na etapa anterior, o sucesso da extração depende da crreta classificação dos dados.Se forem feitas classificações que não estão de acordo com o ocnteúdo das atividades, então a aplicação irá extrair e agrupar os dados de cada atividade de forma incorreta. Seja cuidadoso nessa parte e confira se as informações batem com o que está na atividade na página original.
			 </br></br>De toda forma, os dados extraídos serão exibidos para que confira se está tudo OK, como será explicado adiante. Há também o botão "Trocar Título", para que retorne à etapa anterior e informe outro título de uma atividade da página, no caso de ter havido engano no título informado.
		  </p>
		  <div class="col-lg-8 text-center">
			  <hr class="divider my-4">
			  <h3>Verificando o Resultado</h3>
          </div>
		  <p>
		  Como etapa final da extração, agora serão exibidos os dados extraídos de cada atividade em uma tabela. Recomenda-se que sejam verificados, para se ter certeza que a extração foi efetuada corretamente.
		  </br></br>Não é necessário verificar todos os registros, basta-se que se confira em torno dos 10 primeiros. Se estes estiverem OK, o restante também estará. 
		  </br></br>Caso haja algo de errado, como falta de informação em uma atividade ou uma atividade com informações inconsistentes ou repetidas, isto será notado logo nos primeiros registros.
		  </br></br>Caso alguma informação esteja incorreta, então pode ser devido à alguma informação fornecida com equívoco, como a classificação dos dados na etapa anterior estar em desacordo com os dados da página original.
		  </br></br>Neste caso,pode-se fazer o fornecimento dos dados e sua classificação novamente, clicando em "Classificar Novamente".
		  </br></br>Se tiver certeza que tudo foi informado corretamente e mesmo assim os erros persistirem, então será devido à uma má estruturação da página analisada, de modo que não há padronização dos seus dados. Neste caso, deve-se clicar para cancelar a extração.
		  </br></br>Se tudo estiver OK, basta clicar para confirmar, então as informações da tabela serão armazenadas permanentemente, para serem analisadas posteriormente. Está completo o processo de extração!
		  </br></br>Pode acontecer de apenas alguns poucos registros não terem sido coletados, devido à apenas estes estarem fora do padrão esperado. Neste caso, se estiver de acordo com o total coletado, basta confirmar também!
		  </br></br>Anterior à tabela, há um meno contendo os campos que correspondem às colunas (campos das atividades). Clicando em um destes, será ocultada a coluna correspondente, de modo a melhorar a visualização.
		  </br></br>Para exibir a coluna ocultada, basta clicar novamente no item do menu que a corresponde. Utilize este recurso da forma que melhor lhe permitir visualizar e verificar os resultados!
		  </br></br>No campo "Procurar", pode-se realizar um filtro dos dados, buscando pelas atividades que possuem o texto informado neste campo (Este texto pode pertencer a qualquer um dos campos da atividade).
		  </p>
      </div>
	  <!-- M
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+55 (31) 99567-1893</div>
        </div>
		 
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <a class="d-block">joaquim_s18@hotmail.com</a>
        </div>
      </div>
	   -->
	   
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style = "font-size: 18px">Copyright &copy; 2019 | Joaquim Santos</br>Contato: (31) 99567-1893</div>
    </div>
  </footer>
	
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- Script para extração das tags HTML -->
   <!-- <script type = "text/javascript" src = "{{url_for('static', filename = 'js/home.js')}}"></script>-->
  
  <!-- Bootstrap core JavaScript -->
  <script type = "text/javascript" src = "{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src = "{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JQuery -->
  <script type = "text/javascript" src = "{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>
  <script type = "text/javascript" src = "{{url_for('static', filename = 'vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
  
  <script type = "text/javascript" src = "{{url_for('static', filename = 'media/js/jquery.dataTables.js')}}"></script>
	
  <!-- Custom scripts for this template -->
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/creative.min.js')}}"></script>
  
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/bloquearTela.js')}}"></script>
  
  <script type = "text/javascript" src = "{{url_for('static', filename = 'js/home.js')}}"></script> 
  
  <script>
	$(function() {
		$('#enviardados').click(function() {
			$("#enviardados").prop("disabled", true);
			$("#trocarlink").prop("disabled", true);
			$.ajax({
				url: '/envdados', //No servidor: http://200.131.220.164:8080/hunter/envdados/
				data: $('form').serialize(),
				type: 'POST',
				success: function(response) {
					if(response['confirma'] == 1){
						alert("Dados localizados com sucesso!!");
						$("#enviardados").prop("disabled", false);
						$("#trocarlink").prop("disabled", false);
						$("#info-titulo").val("");
						$('#form-link').hide();
						$('#form-dados').hide();
						$('#instrucao-dados').show();
						$('#campos-evento').show();
						$('#enviarconteudo').show();
						$('#trocarTitulo').show();
						let element = document.getElementById('campos-evento');
						for( var i = 0; i< response['conteudo'].length; i++){
							element.innerHTML += '</br><div class="caixa"><img class="img-fluid" src="{{url_for("static", filename = "img/shadow.png")}}" id = "shadow" alt = "Shadow Hunts"></div><div class="caixa"><img class="img-fluid" src="{{url_for("static", filename = "img/knuncles.png")}}" id = "knuncles" alt = "Knuncles Hunts"></div><fieldset id = "tipo-dados">' + '<div class = "infoClassificar"><legend class = "significado" style = "font-size:25px">Qual o Significado de:</legend></br>' + '<legend  class = "dados" style = "font-size:25px; color: black">' + response['conteudo'][i] + '</legend >' + '</br>' +
							'<input value = "Descartar" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cDescartar' + i.toString() + '"' + ' /> <label for = "cDescartar' + i.toString() + '"' + ' style = "font-size: 22px">Desconsiderar este Campo</label> </br>' + 
							'<input value = "Data" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cData' + i.toString() + '"' + ' /> <label for = "cData' + i.toString() + '"' + ' style = "font-size: 22px">Data</label> </br>' + 
							'<input value = "Autor" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cAutor' + i.toString() + '"' + ' /> <label for = "cAutor' + i.toString() + '"' + ' style = "font-size: 22px">Autor/Responsável/Apresentador</label> </br>' + 
							'<input value = "Hora Início" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cHoraIni' + i.toString() + '"' + ' /> <label for = "cHoraIni' + i.toString() + '"' + ' style = "font-size: 22px">Hora de Início</label> </br>' +
							'<input value = "Hora Fim" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cHoraFim' + i.toString() + '"' + ' /> <label for = "cHoraFim' + i.toString() + '"' + ' style = "font-size: 22px">Hora de Finalização</label> </br>' +
							'<input value = "Descrição" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cDescricao' + i.toString() + '"' + ' /> <label for = "cDescricao' + i.toString() + '"' + ' style = "font-size: 22px">Descrição</label> </br>' +
							'<input value = "Local" type = "radio" name = "tSignificado' + i.toString() + '"' + ' id = "cLocal' + i.toString() + '"' + ' /> <label for = "cLocal' + i.toString() + '"' + ' style = "font-size: 22px">Local</label> </br></br></fieldset></div>';
							 
						}
						quantTextos = i;
						colecaoTitulos = response['colecao'];
			
					}
					if (response['confirma']  == 0){
						alert("Campo em branco ou caracteres insuficientes!");
					}
					if (response['confirma']  == 2){
						alert("Dados informados não localizados!");
					}
					
					
					$("#enviardados").prop("disabled", false);
					$("#trocarlink").prop("disabled", false);
					$("#info-titulo").val("");
					console.log(response);
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
	});
  </script>
  
</body>

</html>
